/*==================================================
                Photo Overlay Transitions
==================================================*/

.photo-overlay {
  opacity: 0;
  transition: opacity .5s;
  border-radius: 10px;
  cursor: pointer;
}

.photo-overlay:hover {
  opacity: 1;
}

.photo img {
  transition: transform .5s;
  transform-origin: 50% 50%;
}

.photo:hover img {
  transform: scale(1.1);
}


/*==================================================
                Home Section Background
==================================================*/

#home {
  background: url(planets.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  display: block;
  height: auto;
  padding-top: 350px;
  padding-bottom: 500px;
  color: #fff;
}

