[user]
	email = nzimandepatriciasn@gmail.com
	name = Patnzee
[core]
	autocrlf = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
