h1::after { /* This is the underline */
  display: block;
  content: " ";
  height: 2px;
  width: 150px;
  background: #E91C1C;
  margin: 5px auto 40px;
  box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.5);
}

h2 {
  line-height: 50px;
  color: #E91C1C;
}

h3 {
  line-height: 30px;
  padding-bottom: 20px;
}

h4 {
  padding-top: 25px;
  line-height: 40px;
  padding-bottom: 0px;
  font-size: 22px;
  font-weight: 900;
}

p {
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 15px;
}
