p {
  font-weight: 300;
  line-height: 30px;
  padding-bottom: 15px;
}

.text-center {
  text-align: center;
}

.heading-padding {
  padding-bottom: 40px;
}

section {
  padding-top: 50px;
  margin-top: 50px;
}

.navbar {
  height: 105px;
  max-height: 340px;
  display: inline-block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
